<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset coplete page</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Password reset coplete page</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4> now you can login with your password</h4>
                    </div>
                    <a href="{% url 'login'%}">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>