{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   <style>
       #base_h1{
           background-color: green;
           color: white;
           padding: 20px;
       }
   </style>

    <title>password_reset page</title>
</head>
<body>
    <table class="table table-bordered table-dark" >
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <div class="border p-3 bg-white">
                        <h3>password reset Page</h3>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                        <hr>
                            <p>
                                <input class="btn btn-info" type="submit" value="Reset password">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </table>    
</body>
</html>